{:paths ["src"]
 :deps
 {org.clojure/clojure    {:mvn/version "1.10.0"}
  aleph                  {:mvn/version "0.4.6"}
  metosin/jsonista       {:mvn/version "0.2.2"}
  org.flatland/useful    {:mvn/version "0.11.6"}}}
